<template>
  <v-container>
    <v-layout row>
      <v-flex>
        <h4>Edit Document</h4>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex>
        <form @submit.prevent="onEditDocument">
          <v-layout row>
            <v-flex>
              <v-text-field
                  name="title"
                  label="Title"
                  id="title"
                  v-model="document.title"
                  required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex>
              <v-text-field
                  name="formName"
                  label="Form"
                  id="formName"
                  v-model="document.formName"
                  required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex>
              <v-text-field
                  name="description"
                  label="Description"
                  id="description"
                  multi-line
                  rows="2"
                  v-model="document.description"
                  required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex>
              <v-text-field
                  name="file"
                  label="Document"
                  :value="document.file"
                  disabled
                  ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex>
              <file-input
                  :description="titleImage"
                  :subheader="subHeader"
                  :path="defaultDirectory"
                  :label="labelImage"
                  :properties="['openFile']"
                  @pathReceived="setFile($event)"
              ></file-input>
            </v-flex>
          </v-layout>
          <v-layout row v-if="imageData">
            <v-flex>
              <img :src="imageData" height="150">
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex>
              <v-btn
                  class="primary"
                  :disabled="!formIsValid"
                  type="submit">Apply</v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { ipcRenderer } from 'electron'
  import FileInput from '../Forms/FileInput3'
  import fs from 'fs'
  // import { mapGetters } from 'vuex'

  export default {
    props: ['id'],
    data () {
      return {
        file: '',
        defaultDirectory: '',
        subHeader: '',
        label: 'Input Form',
        labelImage: 'Logo',
        titleImage: 'Logo image file(.jpg, .png)',
        titleDocument: 'Input form name (.pdf)',
        imageData: ''
      }
    },
    computed: {
      document () {
        console.log(`this.id = ${JSON.stringify(this.id)}`)
        return this.$store.getters['docs/getDocument'](this.id)
      },
      formIsValid () { // TODO better validation
        return this.document.title !== '' &&
          this.document.imageUrl !== '' &&
          this.document.description !== '' &&
          this.document.formName !== ''
      }
    },
    components: {
      'file-input': FileInput
    },
    methods: {
      getImage (file) {
        return this.$store.getters['images/getImage'](file)
      },
      setFile (file) {
        // let file = event.target.value
        console.log(`setFile file ${file}`)
        if (fs.existsSync(file)) {
          this.document.imageUrl = file
          console.log(`setFile getImage`)
          this.imageData = this.getImage(file)
          if (!this.imageData) {
            console.log('image not in db')
            ipcRenderer.send('image', file)
          }
        }
      },
      onEditDocument () {
        if (!this.formIsValid) {
          return
        }
        // this.doc.isBase = this.base
        this.$store.dispatch('docs/update', this.document)
        this.$router.push('/documents')
      }
    },
    created () {
      ipcRenderer.on('image-data', (event, data) => {
        this.imageData = data
        this.$store.dispatch('images/add', {file: this.document.imageUrl, data: data})
      })
    }
  }
</script>
