<template>
  <v-content>
    <v-container fluid fill-height class="grey lighten-1">
      <v-layout row>
        <v-flex xs12>
          <v-toolbar class="primary white--text">
            <v-toolbar-title class="white--text">Documents</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-text-field
                prepend-icon="search"
                hide-details
                single-line
                dark
                v-model="search"
            ></v-text-field>
            <app-msg-confirm
                @confirm="deleteSelected($event)"
                :msg="confirmMsg"
                :icon="'delete'"
                :tooltip="'Delete selected'"
            ></app-msg-confirm>
            <v-btn icon router to="/document/new" class="white--text">
              <v-icon>add_circle</v-icon>
            </v-btn>
          </v-toolbar>
          <!--
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat class="primary--text darken-1" @click="viewPDF(doc)">View PDF</v-btn>
          <v-btn flat class="primary--text darken-1" @click="remove(doc)">Delete</v-btn>
          <v-btn flat class="primary--text darken-1" @click="editDoc(doc)">Edit</v-btn>
        </v-card-actions>
      </v-flex>

        <v-card-media
            :src="getImage(doc.hashidImage)"
            height="125px"
            contain
        ></v-card-media>
      </v-layout> -->
          <v-card>
            <v-data-table
                :headers="headers"
                :items="documents"
                :search="search"
                v-model="selected"
                select-all
                item-key="hashidForm"
            >
              <template slot="headers" slot-scope="props">
                <tr>
                  <th>
                    <v-checkbox
                        primary
                        hide-details
                        color="primary"
                        @click.native="toggleAll"
                        :input-value="props.all"
                        :indeterminate="props.indeterminate"
                    ></v-checkbox>
                  </th>
                  <th v-for="header in props.headers" :key="header.text"
                      :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                      @click="changeSort(header.value)"
                  >
                    <v-icon>arrow_upward</v-icon>
                    {{ header.text }}
                  </th>
                </tr>
              </template>
              <template slot="items" slot-scope="props">
                <tr :active="props.selected" @click="props.selected = !props.selected">
                  <td>
                    <v-checkbox
                        primary
                        hide-details
                        color="primary"
                        :input-value="props.selected"
                    ></v-checkbox>
                  </td>
                  <td>{{ props.item.title }}</td>
                  <td class="text-xs-right">{{ props.item.formName }}</td>
                  <td class="text-xs-right">{{ props.item.description }}</td>
                  <td class="text-xs-right">{{ props.item.fileName }}</td>
                  <td class="text-xs-right">{{ props.item.isBase }}</td>
                </tr>
              </template>
              <template slot="pageText" slot-scope="{ pageStart, pageStop }">
                From {{ pageStart }} to {{ pageStop }}
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>


<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        selected: [],
        selectedDoc: '',
        hasFields: false,
        fdfData: {},
        formFields: [],
        menuitems: [
          {
            title: 'Settings'
          }
        ],
        tmp: '',
        search: '',
        pagination: {
          sortBy: 'formName'
        },
        confirmMsg: {
          title: 'Delete selected documents',
          message: 'Are you sure want to delete selected documents?'
        },
        headers: [
          {
            text: 'Title',
            align: 'left',
            sortable: true,
            value: 'title'
          },
          {text: 'Form Name', value: 'formName'},
          {text: 'Description', value: 'description'},
          {text: 'File', value: 'fileName'},
          {text: 'Base', value: 'isBase'}
        ]
      }
    },
    computed: {
      ...mapGetters('docs', {
        documentEntries: 'count'
      }),
      documents () {
        return this.$store.getters['docs/getDocuments'](this.search)
      }
    },
    methods: {
      ...mapActions('docs', {
        load: 'load'
      }),
      deleteSelected (confirmed) {
        if (confirmed) {
          this.selected.forEach(doc => {
            console.log(`delete selected: ${doc.hashidForm}`)
            this.$store.dispatch('docs/remove', doc)
          })
        }
      },
      viewPDF (doc) {
        console.log(`file://${doc.fileName}`)
        let pdfFile = 'file://' + doc.fileName
        this.$electron.ipcRenderer.send('viewPDF', pdfFile)
      },
      editDoc (doc) {
        console.log(`edit file://${doc.fileName} id=${doc.hashidForm}`)
        this.$router.push({path: `/documents/${doc.hashidForm}`})
      },
      getImage (id) {
        let image = this.$store.getters['images/getImage'](id)
        if (image) {
          return image.thumb
        }
      },
      toggleAll () {
        if (this.selected.length) this.selected = []
        else this.selected = this.documents.slice()
      },
      changeSort (column) {
        if (this.pagination.sortBy === column) {
          this.pagination.descending = !this.pagination.descending
        } else {
          this.pagination.sortBy = column
          this.pagination.descending = false
        }
      }
    },
    mounted () {
      this.load()
    }
  }
</script>
