<template>
  <v-content>
    <v-container fluid fill-height class="grey lighten-1">
      <v-layout row>
        <v-flex xs12>
          <v-toolbar class="primary" dark>
            <v-toolbar-title>Import Document</v-toolbar-title>
          </v-toolbar>
          <v-card>
            <v-card-text>
              <v-container>
                <v-layout row>
                  <v-flex xs12>
                    <form @submit.prevent="onImportDocument">
                      <v-layout row>
                        <v-flex>
                          <v-text-field
                              name="title"
                              label="Title"
                              id="title"
                              v-model="doc.title"
                              required></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex>
                          <v-text-field
                              name="formName"
                              label="Form"
                              id="formName"
                              v-model="doc.formName"
                              required></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex>
                          <v-text-field
                              name="description"
                              label="Description"
                              id="description"
                              multi-line
                              rows="2"
                              v-model="doc.description"
                              required></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex>
                          <file-input
                              :type="'document'"
                              :description="titleDocument"
                              :subheader="subHeader"
                              :path="defaultDirectory"
                              :label="label"
                              :properties="['openFile']"
                              @dataReceived="setFile($event)"
                          ></file-input>
                        </v-flex>
                      </v-layout>
                      <template v-if="!hasBase">
                        <v-layout row wrap>
                          <v-flex>
                            <v-switch
                                label="Base Client Form"
                                v-model="base"
                                color="primary"
                            ></v-switch>
                          </v-flex>
                        </v-layout>
                      </template>
                      <v-layout row xs12 grid-list-xs class="text-xs-center">
                        <v-flex xs7 v-if="imageData">
                          <img :src="imageData" height="150">
                        </v-flex>
                        <v-flex xs7 v-else>
                          <v-icon medium color="blue darken-1" dark>info</v-icon>
                          <label>Upload image associated with document
                          </label>
                        </v-flex>
                        <v-flex xs5 >
                          <v-layout row wrap>
                          <select-image
                              @selectedImage="selectedImage($event)"
                              :isIcon="false"
                              :imageButtonlabel="'Image'">
                          </select-image>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex>
                          <v-btn
                              color="primary"
                              :disabled="!formIsValid"
                              type="submit">Import
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </form>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import FileInput from '../Forms/FileInput'
  import SelectImage from '../Images/SelectImage'
  import fs from 'fs'

  export default {
    data () {
      return {
        base: false,
        hasBase: false,
        defaultDirectory: '',
        subHeader: '',
        label: 'Input Form',
        labelImage: 'Logo',
        titleImage: 'Logo image file(.jpg, .png)',
        titleDocument: 'Input form name (.pdf)',
        imageData: null,
        image: null,
        doc: {
          title: '',
          fileName: '',
          formName: '',
          hashidImage: '',
          hashidForm: '',
          description: '',
          isBase: false,
          fields: []
        }
      }
    },
    computed: {
      formIsValid () { // TODO better validation
        return this.doc.title !== '' &&
          this.doc.fileName !== '' &&
          this.doc.description !== '' &&
          this.doc.formName !== ''
      }
    },
    methods: {
      selectedImage (image) {
        console.log(`image selected: ${image.title}`)
        this.image = image
        this.imageData = image.thumb
        this.doc.hashidImage = image.hashid
        this.selectImageDialog = false
      },
      clearDocument () {
        this.doc = Object.assign({}, this.doc, {})
      },
      setFile (document) {
        if (fs.existsSync(document.filename)) {
          this.doc.fileName = document.filename
          this.doc.fields.push(document.fields)
          this.doc.hashidForm = document.hashid
        }
      },
      onImportDocument () {
        if (!this.formIsValid) {
          return
        }
        this.doc.isBase = this.base
        if (this.image.newImage) {
          this.$store.dispatch('images/add', this.image) // .then ??
        }
        this.$store.dispatch('docs/add', this.doc)
        this.$router.push('/documents')
      }
    },
    components: {
      'file-input': FileInput,
      'select-image': SelectImage
    },
    created () {
      this.clearDocument()
      this.hasBase = this.$store.getters['docs/hasBaseDocument']
      // console.log(`check if has base document - ${this.hasBase}`)
      this.base = !this.hasBase
      // console.log(`created BASE: ${this.base}`)
    }
  }
</script>

<style>
  .uploader * {
    box-sizing: border-box;
  }

  .uploader-action {
    padding: 20px;
    background: #f1f5ff;
    cursor: pointer;
    transition: background 300ms ease;
  }

  .uploader-action .dz-message {
    color: #94a7c2;
    text-align: center;
    padding: 20px 40px;
    border: 3px dashed #dfe8fe;
    border-radius: 4px;
    font-size: 16px;
  }

  .uploader-files {
    padding: 40px;
  }

  .uploader-action.dragging {
    background-color: #ffffff;
  }

  .file-size {
    font-weight: 600;
    color: #bebfc1
  }

  .file-status {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 5px;
  }

  .file-progress {
    background: #e3ebfa;
    border-radius: 8px;
    height: 4px;
    width: 80%;
  }

  .progress-indicator {
    display: block;
    background: #00d28a;
    border-radius: 8px;
    height: 4px;
  }
</style>
