<template>
  <div>
  <v-btn icon @click.native.stop="openDialog" class=" white--text">
    <v-icon>add_circle</v-icon>
  </v-btn>
  <v-dialog persistent v-model="addDialog" scrollable max-width="450px">
    <v-layout row>
      <v-flex xs12>
        <v-toolbar class="secondary" dark>
          <v-toolbar-title class="text-xs-center">Select Image</v-toolbar-title>
        </v-toolbar>
        <v-card class="white--text brown lighten-4">
          <v-layout>
            <v-flex xs12 class="text-xs-center">
              <v-progress-circular
                  indeterminate
                  :size="64"
                  :width="7"
                  color="brown"
                  v-if="loading && !hasNewImage"
              ></v-progress-circular>
            </v-flex>
          </v-layout>
          <v-card-media
              :src="showImage"
              height="150"
              contain
              v-if="!loading || hasNewImage"
          ></v-card-media>
          <v-layout row>
            <v-flex xs12>
              <div class="title text-xs-center">{{ title }}</div>
            </v-flex>
          </v-layout>
          <v-container>
            <form @submit.prevent="selectImage">
            <v-layout row xs12>
              <v-flex xs12>
                <v-card>
                  <v-card-text>
                    <v-flex xs12>
                      <v-text-field
                          label="Title"
                          id="title"
                          v-model="title"
                          :error-messages="titleErrors"
                          @input="$v.title.$touch()"
                          @blur="$v.title.$touch()"
                          required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <file-input
                          name="uploadFile"
                          id="uploadFile"
                          :type="'image'"
                          :color="'brown'"
                          :description="titleDocument"
                          :subheader="subHeader"
                          :path="defaultDirectory"
                          :label="label"
                          :properties="['openFile']"
                          v-model="filename"
                          @dataReceived="setFile($event)"
                          :error-messages="imageErrors"
                          @input="$v.uploadFile.$touch()"
                          @blur="$v.uploadFile.$touch()"
                          @click.native="fileClicked"
                          @cancelled="fileCancelled"
                      ></file-input>
                    </v-flex>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout row wrap>
              <v-flex xs12>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                      flat
                      class="secondary--text darken-1"
                      @click="close"
                  >Close
                  </v-btn>
                  <v-btn
                      type="submit"
                      class="secondary--text darken-1"
                      :disabled="disabled"
                      flat
                  >Add
                    <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                       </span>
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
            </form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-dialog>
  </div>
</template>

<script>
  import FileInput from '../Forms/FileInput'
  import { defaultImage } from './defaultImage.js'
  import { required, minLength } from 'vuelidate/lib/validators'
  import { mapGetters } from 'vuex'

  export default {
    props: ['isIcon', 'imageButtonlabel', 'tooltip'],
    data () {
      return {
        addDialog: false,
        newImage: null,
        defaultDirectory: '',
        subHeader: '',
        label: 'Input Image',
        labelImage: 'Logo',
        titleImage: 'Logo image file(.jpg, .png)',
        titleDocument: 'Input image name',
        title: '',
        icon: 'justify',
        hasNewImage: false,
        tempImage: null,
        filename: ''
      }
    },
    validations: {
      title: {
        required,
        minLength: minLength(2)
      },
      uploadFile: {
        required
      }
    },
    computed: {
      ...mapGetters({
        loading: 'loading'
      }),
      disabled () {
        return !this.title ||
          this.titleErrors.length > 0 ||
          this.imageErrors.length > 0 ||
            !this.newImage
      },
      titleErrors () {
        const errors = []
        if (!this.$v.title.$dirty) return errors
        !this.$v.title.minLength && errors.push('Title must be at least 2 characters long')
        !this.$v.title.required && errors.push('Title is required.')
        // console.log(`title errors ${JSON.stringify(errors)}`)
        return errors
      },
      imageErrors () {
        let error = ''
        if (!this.newImage || !this.newImage.filename) {
          error = 'Image is required'
        }
        // console.log(`image errors ${JSON.stringify(error)}`)
        return error
      },
      showImage () {
        if (this.newImage) {
          this.hasNewImage = true
          return this.newImage.thumb
        } else {
          this.hasNewImage = false
          return defaultImage.thumb
        }
      },
      images () {
        return this.$store.getters['images/getImages'](this.search)
      }
    },
    methods: {
      openDialog () {
        this.reset()
        this.addDialog = true
      },
      fileCancelled () {
        this.newImage = Object.assign({}, this.newImage, this.tempImage)
        this.hasNewImage = true
      },
      fileClicked () {
        this.tempImage = Object.assign({}, this.tempImage, this.newImage)
        this.newImage = null
        this.hasNewImage = false
      },
      reset () {
        this.filename = ''
        this.$store.dispatch('setLoading', false)
        this.hasNewImage = false
        this.title = ''
        this.newImage = null
      },
      close () {
        this.$v.$reset()
        this.reset()
        this.addDialog = false
      },
      selectImage () {
        this.$v.$touch()
        this.newImage.title = this.title
        this.$store.dispatch('images/add', this.newImage)
          .then(() => {
            this.$emit('newImage', this.newImage)
            this.reset()
            this.addDialog = false
          })
      },
      setFile (image) {
        this.newImage = Object.assign({}, this.newImage, image)
        this.filename = this.newImage.filename
      }
    },
    components: {
      'file-input': FileInput
    }
  }
</script>
