<template>
  <v-dialog width="350px" persistent v-model="editDialog">
    <v-btn icon slot="activator">
      <v-icon>mode_edit</v-icon>
    </v-btn>
    <v-flex xs12>
      <v-toolbar class="secondary" dark>
        <v-toolbar-title>Edit Image</v-toolbar-title>
      </v-toolbar>
    </v-flex>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-text>
              <v-text-field
                  name="title"
                  label="Title"
                  id="title"
                  v-model="editedTitle"
                  required></v-text-field>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  flat
                  class="secondary--text darken-1"
                  @click="editDialog = false"
              >Close</v-btn>
              <v-btn
                  flat
                  class="secondary--text darken-1"
                  @click="onSaveChanges"
              >Save</v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: ['image'],
    data () {
      return {
        editDialog: false,
        editedTitle: this.image.title
      }
    },
    methods: {
      onSaveChanges () {
        if (this.editedTitle.trim() === '') {
          return
        }
        this.editDialog = false
        this.$store.dispatch('images/update', {
          hashid: this.image.hashid,
          title: this.editedTitle
        })
      }
    }
  }
</script>
