<template>
  <v-content>
    <v-container fluid fill-height class="grey lighten-1">
      <v-layout row>
        <v-flex xs12>
          <v-toolbar class="primary white--text">
            <v-toolbar-title class="ml-5">Image Manager</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-text-field
                prepend-icon="search"
                hide-details
                single-line
                dark
                v-model="search"
            ></v-text-field>
            <v-tooltip top>
              <v-btn icon class=" white--text" slot="activator" @click="toggleAll">
                <v-icon>{{ checkIcon }}</v-icon>
              </v-btn>
              <span>Select/Deselect All</span>
            </v-tooltip>
            <app-msg-confirm
                @confirm="deleteSelected($event)"
                :msg="confirmMsg"
                :icon="'delete'"
                :tooltip="'Delete selected'"
            ></app-msg-confirm>
            <add-image-dialog @newImage="newImage($event)" :tooltip="'Add new image'">Add</add-image-dialog>
          </v-toolbar>
          <v-card>
            <v-card-text>
              <v-container
                  v-resize="onResize"
                  grid-list-xl
              >
                <v-layout row wrap>
                  <v-flex
                      offset-xs0
                      v-bind="{ [`xs${cols}`]: true }"
                      v-for="image in images"
                      :key="image.hashid"
                  >
                    <v-card class="grey lighten-3">
                      <v-card-media
                          :src="image.thumb"
                          height="150px"
                          contain
                      >
                      </v-card-media>
                      <v-card-text>
                        {{ image.title }}
                      </v-card-text>
                      <v-card-actions class="white">
                        <v-spacer></v-spacer>
                        <v-btn icon @click="deleteImage(image)">
                          <v-icon>delete</v-icon>
                        </v-btn>
                        <edit-image-detail-dialog
                            :image="image"
                        >
                        </edit-image-detail-dialog>
                        <v-btn icon @click="selectImage(image)">
                          <v-icon>{{ checkedImage(image) }}</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import AddImageDialog from './AddImageDialog'
  import EditImageDetail from './EditImageDetail'

  const CHECKED = 'check_box'
  const UNCHECKED = 'check_box_outline_blank'

  export default {
    data () {
      return {
        selectImageDialog: false,
        addImageDialog: false,
        selected: [],
        confirmMsg: {
          title: 'Delete selected images',
          message: 'Are you sure want to delete selected images?'
        },
        search: '',
        cols: 4
      }
    },
    computed: {
      images () {
        return this.$store.getters['images/getImages'](this.search)
      },
      indeterminate () {
        return this.someItems && !this.everyItem
      },
      everyItem () {
        return this.images.length === this.selected.length
      },
      someItems () {
        return this.selected.length > 0 && this.selected.length < this.images.length
      },
      checkIcon () {
        if (this.everyItem) {
          return 'check_box'
        }
        if (this.indeterminate) {
          return 'indeterminate_check_box'
        } else {
          return 'check_box_outline_blank'
        }
      }
    },
    methods: {
      checkedImage (image) {
        if (this.selected.indexOf(image.hashid) === -1) {
          return UNCHECKED
        } else {
          return CHECKED
        }
      },
      selectImage (image) {
        if (this.selected.indexOf(image.hashid) === -1) {
          this.selected.push(image.hashid)
        } else {
          this.selected.splice(this.selected.indexOf(image.hashid), 1)
        }
      },
      deleteImage (image) {
        this.$store.dispatch('images/remove', image.hashid)
      },
      deleteSelected (confirmed) {
        if (confirmed) {
          this.selected.forEach(id => {
            this.$store.dispatch('images/remove', id)
          })
        }
      },
      toggleAll () {
        if (this.selected.length) {
          this.selected = []
        } else {
          this.selected = []
          this.images.forEach(image => {
            this.selected.push(image.hashid)
          })
        }
      },
      newImage (image) {
        // this.imageData = image.thumb
        this.addImageDialog = false
      },
      onResize () {
        this.cols = 12 / (window.innerWidth / 150)
        // xs: < 600px, sm: 600px > <960, md: 960 > 1264. lg: 1264 > < 1904, xl: >1904
      }
    },
    components: {
      'add-image-dialog': AddImageDialog,
      'edit-image-detail-dialog': EditImageDetail
    },
    mounted () {
      this.onResize()
    }
  }
</script>
<style scoped>
  .card__text {
    padding-bottom: 0px;
  }

  .card__actions {
    padding: 2px 1px;
  }
</style>
