<template>
  <v-layout row justify-center style="position: relative;">
    <v-dialog persistent v-model="imageDialog" scrollable max-width="450px">
      <template v-if="isIcon">
        <v-btn icon slot="activator">
          <v-icon>add_circle</v-icon>
        </v-btn>
      </template>
      <template v-else>
        <v-btn color="primary" dark slot="activator">{{ imageButtonlabel }}
          <v-icon right dark>file_upload</v-icon>
        </v-btn>
      </template>

      <v-layout row>
        <v-flex xs12>
          <v-toolbar class="secondary" dark>
            <v-toolbar-title class="text-xs-center">Select Image</v-toolbar-title>
          </v-toolbar>
          <v-card class="white--text brown lighten-4">

            <v-container>
              <v-progress-circular
                  indeterminate
                  :size="70"
                  :width="7"
                  color="brown"
                  v-if="loading"
              ></v-progress-circular>
              <v-card-media
                  :src="showImage"
                  height="150"
                  contain
                  class="mb-2"
                  v-else
              ></v-card-media>
              <v-layout row>
                <v-flex xs12>
                  <div class="title text-xs-center">{{ imageTitle }}</div>
                </v-flex>
              </v-layout>
              <v-layout row xs12>
                <v-flex xs12 v-if="isSelect">
                  <v-toolbar class="secondary" dark>
                    <v-text-field
                        prepend-icon="search"
                        hide-details
                        single-line
                        dark
                        v-model="search"
                        class="mb-1 white--text"
                    ></v-text-field>
                  </v-toolbar>
                  <v-card>
                    <v-card-text >
                      <v-container style="max-height: 250px"
                                   class="scroll-y">
                        <v-list scrollable>
                          <v-list-tile avatar v-for="image in images" :key="image.hashid"
                                       @click="onClick(image)">
                            <v-list-tile-avatar size="48px" :tile="true">
                              <img :src="image.thumb"/>
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="image.title"></v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                              <v-btn icon @click="onClick(image)">
                                <v-icon
                                    :class="{'brown--text text--darken-2': selectedImage && image.hashid === selectedImage.hashid}">
                                  {{ radioIcon(image) }}
                                </v-icon>
                              </v-btn>
                            </v-list-tile-action>
                          </v-list-tile>
                        </v-list>
                      </v-container>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 v-else>
                  <v-card>
                    <v-card-text>
                      <v-flex xs12>
                        <v-text-field
                            name="title"
                            label="Title"
                            id="title"
                            v-model="title"
                            :error-messages="titleErrors"
                            @input="$v.title.$touch()"
                            @blur="$v.title.$touch()"
                        >
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <file-input
                            :type="'image'"
                            :description="titleDocument"
                            :subheader="subHeader"
                            :path="defaultDirectory"
                            :label="label"
                            :properties="['openFile']"
                            @dataReceived="setFile($event)"
                            :color="'brown'"
                        ></file-input>
                      </v-flex>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout row justify-center>
                <v-flex xs12 class="py-2">
                  <div class="text-xs-center">
                    <v-btn-toggle v-model="selectAction">
                      <v-btn flat value="select">
                        <span>Choose</span>
                        <v-icon>collections</v-icon>
                      </v-btn>
                      <v-btn flat value="add">
                        <span>Add</span>
                        <v-icon>add_to_photos</v-icon>
                      </v-btn>
                    </v-btn-toggle>
                  </div>
                </v-flex>
              </v-layout>
              <v-divider></v-divider>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        flat
                        class="secondary--text darken-1"
                        @click="close"
                    >Close
                    </v-btn>
                    <v-btn
                        flat
                        class="secondary--text darken-1"
                        @click="selectImage"
                        :disabled="!titleErrors || !selectedImage"
                    >Select
                    </v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-dialog>
  </v-layout>
</template>

<script>
  import FileInput from '../Forms/FileInput'
  import { defaultImage } from './defaultImage.js'
  import { required, minLength } from 'vuelidate/lib/validators'

  export default {
    props: ['isIcon', 'imageButtonlabel'],
    data () {
      return {
        showSelect: false,
        showAdd: false,
        imageDialog: false,
        selectedImage: null,
        search: '',
        defaultDirectory: '',
        subHeader: '',
        label: 'Input Image',
        labelImage: 'Logo',
        titleImage: 'Logo image file(.jpg, .png)',
        titleDocument: 'Input image name',
        title: '',
        icon: 'justify',
        selectAction: ''
      }
    },
    validations: {
      title: {
        required,
        minLength: minLength(2)
      }
    },
    computed: {
      loading () {
        return this.$store.getters['loading']
      },
      titleErrors () {
        const errors = []
        if (!this.$v.title.$dirty) return errors
        !this.$v.title.minLength && errors.push('Title must be at least 2 characters long')
        !this.$v.title.required && errors.push('Title is required.')
        return errors
      },
      isSelect () {
        return this.selectAction === 'select' && this.images.length > 0
      },
      showImage () {
        if (this.selectedImage) {
          return this.selectedImage.thumb
        } else {
          return defaultImage.thumb
        }
      },
      imageTitle () {
        if (this.selectedImage) {
          return this.selectedImage.title
        }
      },
      images () {
        return this.$store.getters['images/getImages'](this.search)
      }
    },
    methods: {
      close () {
        this.imageDialog = false
        this.selectedImage = ''
      },
      radioIcon (image) {
        if (this.selectedImage && this.selectedImage.hashid === image.hashid) {
          return 'radio_button_checked'
        } else {
          return 'radio_button_unchecked'
        }
      },
      selectImage () {
        // if (this.isSelect) {
        this.$emit('selectedImage', {...this.selectedImage, newImage: !this.isSelect})
        this.imageDialog = false
        /* } else {
          this.$store.dispatch('images/add', this.selectedImage)
            .then(() => {
              this.$emit('selectedImage', this.selectedImage)
              this.imageDialog = false
            }) */
      },
      onClick (image) {
        this.selectedImage = image
      },
      setFile (image) {
        this.selectedImage = Object.assign({}, this.selectedImage, image)
        this.selectedImage.title = this.title
      }
    },
    components: {
      'file-input': FileInput
    },
    created () {
      if (this.$store.getters['images/hasImages']) {
        this.selectAction = 'select'
      } else {
        this.selectAction = 'add'
      }
    }
  }
</script>
