<template>
    <v-content>
        <v-container fluid fill-height class="grey lighten-1">
            <v-layout justify-center align-center>
                <component :is="componentSelected" transition="slide-x-transition"></component>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Startup from './Startup'
  import Signin from './User/Signin'
  import Signup from './User/Signup'

  export default {
    computed: {
      ...mapGetters({
        isSignedIn: 'isSignedIn',
        getEmail: 'settings/getEmail',
        isVerified: 'isVerified',
        loaded: 'docs/loaded'
      }),
      componentSelected () {
        // open last page or document list
        if (this.isSignedIn && this.loaded) { // TODO and signed in in settings
          // if docs are empty
          // else if clients are empty
          // else
          return 'Startup'
        } else {
          // console.log(this.getMail)
          if (this.isVerified) {
            return 'Signin'
          } else {
            return 'Signup'
          }
        }
      }
    },
    components: {
      Startup,
      Signin,
      Signup
    }
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    color: white;
    background-color: #FDFDFD;
    font-size: 2em;
    padding: 20px;
  }
</style>
