<template>
  <v-layout>
    <v-flex xs12>
      <v-card>
        <v-card-media src="/static/new_clients.jpg" height="200px">
        </v-card-media>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Client Information Manager</h3>
            <div>Create a Client Base from the following options:</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat class="primary--text darken-1" :to="'/document/new'">PDF Form</v-btn>
          <v-btn flat class="primary--text darken-1" >Basic Form</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
  }
</script>
