<template>
  <v-container fluid>
    <v-layout row wrap >
      <v-flex xs12 mb0>
        <v-toolbar dark class="info">
          <v-toolbar-title class="white--text">Settings</v-toolbar-title>
        </v-toolbar>
        <v-expansion-panel expand>
          <v-expansion-panel-content v-for="(section, i) in sections" :key="section.key">
            <div slot="header"><v-icon large :class="section.color">{{ section.icon }}</v-icon>{{ section.title }} - <span class="grey--text">{{ section.description }}</span></div>
            <v-card>
              <v-card-text>
                <div v-for="item in keys(section.key)">
                  <template v-if="hasField(`${section.key}.${item}.editable`)">
                    <template v-if="field(`${section.key}.${item}.type`) === 'file'">
                      <file-input
                          :description="field(`${section.key}.${item}.title`)"
                          :subheader="field(`${section.key}.${item}.subheader`)"
                          :path="field(`${section.key}.${item}.directory`)"
                          :label="field(`${section.key}.${item}.label`)"
                          :properties="['openDirectory']"
                          @pathReceived="setDirectory(`${section.key}.${item}.directory`, $event)"
                      ></file-input>
                    </template>
                  </template>
                </div>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import FileInput from '../Forms/FileInput3'
  import fs from 'fs'

  export default {
    computed: {
      ...mapGetters('settings', {
        sections: 'getSections',
        keys: 'getKeys',
        hasField: 'hasField',
        field: 'getField',
        setting: 'getSetting'
      })
    },
    methods: {
      ...mapActions('settings', {
        setField: 'setField'
      }),
      setDirectory (item, event) {
        console.log(`Event: ${event} key=${item}`)
        // if dir exists and not empty -> do move??
        if (fs.existsSync(event)) { // TODO fix!!
          // check db if any files in directory
          console.log('directory exists!!!') // default values a problem!!
          // if field already set, ask user to move or not
        }
        this.setField({key: item, value: event})
      }
    },
    components: {
      'file-input': FileInput
    }
  }
</script>
