<template>
  <v-dialog width="350px" persistent v-model="editDialog">
    <v-btn accent slot="activator">
      Edit Time
    </v-btn>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-title>Edit Time</v-card-title>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row wrap>
          <v-flex xs12>
            <v-time-picker v-model="editableTime" style="width: 100%" actions format="24hr">
              <template slot-scope="{save, cancel}">
                <v-btn
                    flat
                    class="blue--text darken-1"
                    @click.native="editDialog = false"
                >Close</v-btn>
                <v-btn
                    flat
                    class="blue--text darken-1"
                    @click.native="onSaveChanges"
                >Save</v-btn>
              </template>
            </v-time-picker>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: ['assetmanager'],
    data () {
      return {
        editDialog: false,
        editableTime: null
      }
    },
    methods: {
      onSaveChanges () {
        const newDate = new Date(this.assetmanager.date)
        let hours = this.editableTime.match(/^(\d+)/)[1]
        const minutes = this.editableTime.match(/:(\d+)/)[1]
        newDate.setHours(hours)
        newDate.setMinutes(minutes)
        this.editDialog = false
        this.$store.dispatch('asset/updateAssetManagerData', {
          id: this.assetmanager.id,
          date: newDate
        })
      }
    },
    created () {
      this.editableTime = new Date(this.assetmanager.date).toTimeString()
    }
  }
</script>
