<template>
  <v-dialog v-model="confirmDialog">

      <v-btn icon class=" white--text" slot="activator">
        <v-icon>{{ icon }}</v-icon>
      </v-btn>

    <v-card>
      <v-card-title class="headline">{{ msg.title }}</v-card-title>
      <v-card-text>{{ msg.message }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="secondary--text darken-1" flat @click.native="onCancel">Cancel</v-btn>
        <v-btn class="secondary--text darken-1" flat @click.native="onOk">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: ['msg', 'icon', 'tooltip'],
    data () {
      return {
        confirmDialog: false
      }
    },
    methods: {
      onCancel () {
        this.confirmDialog = false
        this.$emit('confirm', false)
      },
      onOk () {
        this.confirmDialog = false
        this.$emit('confirm', true)
      }
    }
  }
</script>
