<template>
  <v-layout row justify-center style="position: relative;">
    <v-dialog v-model="show" lazy absolute>
      <v-card>
        <v-card-title>
          <div class="headline">{{ msg.title }}</div>
        </v-card-title>
        <v-card-text>{{ msg.message }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="onClose">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  export default {
    props: ['msg'],
    methods: {
      data () {
        return {
          show: true
        }
      },
      onClose () {
        this.show = false
        this.$emit('closed')
      }
    }
  }
</script>
