<template>
  <v-container>
    <v-layout row wrap class="mb-2">
      <v-toolbar class="info">
        <v-toolbar-side-icon></v-toolbar-side-icon>
        <v-toolbar-title class="white--text">Asset Managers</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>search</v-icon>
        </v-btn>
        <!-- <v-btn icon @click="deleteAll" ><v-icon >delete</v-icon></v-btn> -->
        <v-btn icon router to="/assetmanager/new" ><v-icon >add_circle</v-icon></v-btn>
      </v-toolbar>
    </v-layout>
    <v-layout>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
            indeterminate
            class="primary--text"
            :width="7"
            :size="70"
            v-if="loading"
        >
        </v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout row wrap
              v-for="assetmanager in assetmanagers" :key="assetmanager.id"
              class="mb-2" v-if="!loading">
      <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
        <v-card class="info">
          <v-container fluid>
            <v-layout row>
              <v-flex xs5 sm4 md3>
                <v-card-media
                    :src="getImage(assetmanager)"
                    height="130px"
                ></v-card-media>
              </v-flex>
              <v-flex xs7 sm8 md9>
                <v-card-title primary-title>
                  <div>
                    <h5 class="white--text mb-0">{{ assetmanager.title }}</h5>
                    <div>{{ assetmanager.date | date }}</div>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat :to="'/assetmanagers/' + assetmanager.id">
                    <v-icon left light>arrow_forward</v-icon>
                    View Asset Manager
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    computed: {
      assetmanagers () {
        console.log('get loaded asset managers')
        return this.$store.getters['asset/loadedAssetManagers']
      },
      loading () {
        return this.$store.getters['loading']
      }
    },
    methods: {
      getImage (assetmanager) {
        return this.$store.getters['images/getImageThumb'](assetmanager.imageId)
      }
    },
    created () {
      this.$store.dispatch('asset/loadAssetManagers')
    }
  }
</script>
