<template>
  <v-container>
    <v-layout  v-if="loading">
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
            indeterminate
            class="primary--text"
            :width="7"
            :size="70"
            v-if="loading"
        >
        </v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-else>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h6 class="primary--text">{{ assetmanager.title }}</h6>
            <template v-if="userIsCreator">
              <v-spacer></v-spacer>
              <app-edit-assetmanager-details-dialog
                  :assetmanager="assetmanager"
              ></app-edit-assetmanager-details-dialog>
            </template>
          </v-card-title>
          <v-card-media
              :src="imageUrl(assetmanager.imageId)"
              height="400px"
          ></v-card-media>
          <v-card-text>
            <div class="info--text">{{ assetmanager.date | date }} - {{ assetmanager.location }}</div>
            <div>
              <app-edit-assetmanager-date-dialog
                  :assetmanager="assetmanager"
                  v-if="userIsCreator"
              ></app-edit-assetmanager-date-dialog>
              <app-edit-assetmanager-time-dialog
                  :assetmanager="assetmanager"
                  v-if="userIsCreator"
              ></app-edit-assetmanager-time-dialog>
            </div>
            <div>{{ assetmanager.description }}</div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <app-register-assetmanager-dialog :assetmanagerId="assetmanager.id"></app-register-assetmanager-dialog>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['id'],
    computed: {
      assetmanager () {
        return this.$store.getters['asset/loadedAssetManager'](this.id)
      },
      userIsAuthenticated () {
        return this.$store.getters.getUser !== null &&
          this.$store.getters.getUser !== undefined
      },
      userIsCreator () {
        if (!this.userIsAuthenticated) {
          return false
        }
        return this.$store.getters.getUser.uid === this.assetmanager.creatorId
      },
      loading () {
        return this.$store.getters['loading']
      }
    },
    methods: {
      imageUrl (imageId) {
        return this.$store.getters['images/getImageThumb'](imageId)
      }
    }
  }
</script>
