<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <h4>Add an Asset Manager</h4>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12>
        <form @submit.prevent="onCreateAssetManager">
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                  name="title"
                  label="Title"
                  id="title"
                  v-model="title"
                  required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                  name="location"
                  label="Location"
                  id="location"
                  v-model="location"
                  required></v-text-field>
            </v-flex>
          </v-layout>
          <select-image
              @selectedImage="selectedImage($event)"
              :isIcon="false"
              :imageButtonlabel="'Upload Image'">
          </select-image>
          <v-layout row v-if="image">
            <v-flex xs12>
              <img :src="image.thumb" height="150">
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                  name="description"
                  label="Description"
                  id="description"
                  multi-line
                  v-model="description"
                  required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <h4>Choose a Data & Time</h4>
            </v-flex>
          </v-layout>
          <v-layout row class="mb-2">
            <v-flex xs12>
              <v-date-picker v-model="date"></v-date-picker>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-time-picker v-model="time" format="24hr"></v-time-picker>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-btn
                  class="primary"
                  :disabled="!formIsValid"
                  type="submit">Add AssetManager</v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import SelectImage from '../Images/SelectImage'

  export default {
    data () {
      return {
        title: '',
        location: '',
        description: '',
        date: new Date(),
        time: new Date(),
        image: null,
        selectImageDialog: false
      }
    },
    computed: {
      formIsValid () {
        return this.title !== '' &&
          this.location !== '' &&
          this.description !== ''
      },
      submittableDateTime () {
        const date = new Date(this.date)
        if (typeof this.time === 'string') {
          let hours = this.time.match(/^(\d+)/)[1]
          const minutes = this.time.match(/:(\d+)/)[1]
          date.setHours(hours)
          date.setMinutes(minutes)
        } else {
          date.setHours(this.time.getHours())
          date.setMinutes(this.time.getMinutes())
        }
        return date
      }
    },
    methods: {
      selectedImage (image) {
        console.log(`image selected: ${image.title}`)
        this.image = image
        this.selectImageDialog = false
      },
      onCreateAssetManager () {
        if (!this.formIsValid) {
          return
        }
        if (!this.image) {
          return
        }
        const assetmanagerData = {
          title: this.title,
          location: this.location,
          description: this.description,
          date: this.submittableDateTime,
          imageId: this.image.hashid
        }
        this.$store.dispatch('asset/createAssetManager', assetmanagerData)
        this.$router.push('/assetmanagers')
      }
    },
    components: {
      'select-image': SelectImage
    }
  }
</script>
