<template>
  <v-layout row xs12>
    <v-flex xs10>
      <v-text-field
          ref="fileText"
          :label="label"
          :hint="description"
          :value="value"
          disabled
      ></v-text-field>
    </v-flex>
    <v-flex xs2>
      <v-btn
          :color="getColor"
          fab
          small
          dark
          @click="setPath"
      >
        <v-icon>file_upload</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: ['label', 'description', 'properties', 'value', 'type', 'color'],
    computed: {
      getColor () {
        return this.color ? this.color : 'primary'
      },
      tooltip () {
        return {html: this.description}
      }
    },
    methods: {
      setPath () {
        this.$store.dispatch('setLoading', true)
        this.$electron.remote.dialog.showOpenDialog({
          title: this.label,
          properties: this.properties
        }, (paths) => {
          if (paths && paths[0]) {
            if (this.type === 'document') {
              this.$store.dispatch('docs/parsePDF', paths[0])
                .then(document => {
                  this.$emit('dataReceived', document)
                })
            }
            if (this.type === 'image') {
              this.imageData = this.$store.getters['images/getImage'](paths[0])
              if (!this.imageData) {
                this.$store.dispatch('images/upload', paths[0])
                  .then(image => {
                    this.$emit('dataReceived', image)
                  })
              } else {
                this.$emit('dataReceived', this.imageData)
              }
            }
          } else {
            this.$emit('cancelled')
          }
        })
      }
    }
  }
</script>
