<template>
    <v-layout row>
      <v-flex xs8 offset-xs2>
        <v-toolbar class="primary" dark>
          <v-toolbar-title>Please Sign in</v-toolbar-title>
        </v-toolbar>
        <v-card>
          <v-card-text >
            <v-container >
              <form @submit.prevent="onSignin">
                <v-layout row>
                  <v-flex >
                    <v-text-field
                        name="email"
                        label="Email"
                        id="email"
                        v-model="email"
                        type="email"
                        disabled>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex>
                    <v-text-field
                        id="password"
                        label="Enter your password"
                        hint="At least 8 characters"
                        v-model="password"
                        type="password"
                        :error-messages="passwordErrors"
                        ref="psw"
                        @focus.native="onFocus"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex >
                    <v-btn type="submit" :disabled="loading && !passwordErrors" :loading="loading">
                      Sign in
                      <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                       </span>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { required, minLength } from 'vuelidate/lib/validators'

  export default {
    data () {
      return {
        password: ''
      }
    },
    validations: {
      password: {
        required,
        minLength: minLength(8)
      }
    },
    computed: {
      ...mapGetters({
        error: 'error',
        info: 'info',
        user: 'getUser',
        loading: 'loading',
        isVerified: 'isVerified',
        email: 'settings/getEmail'
      }),
      passwordErrors () {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.minLength && errors.push('Password must be at least 8 characters long')
        !this.$v.password.required && errors.push('Password is required.')
        this.error && errors.push(this.error.message)
        return errors
      }
    },
    watch: {
      loading (val) {
        console.log(`watch loading: ${val}`)
        if (!val) {
          console.log('set focus')
          this.$refs.psw.focus()
          // this.$refs.psw.focus()
          this.$nextTick(() => {
            let elem = document.getElementById('password')
            elem.attributes.autofocus = true
            elem.click()
          })
        }
      }
    },
    methods: {
      ...mapActions({
        signin: 'user/signUserIn'
      }),
      onFocus (event) {
        console.log(`on focus ${event.currentTarget}`) // whoami
        if (event) {
          console.log(`tag: ${event.target.tagName}`)
        }
        // event.target.click()
      },
      onClick () {
        console.log(`clicked`)
      },
      onSignin () {
        console.log({email: this.email, password: this.password})
        this.signin({email: this.email, password: this.password})
        /* if (!this.error && this.isVerified) {
          this.$router.push('/')
        } */
      }
    },
    created () {
      console.log(`signin loading ${this.loading}`)
    },
    mounted () {
      console.log('mounted')
      // this.$refs.psw.focus()
      /* let elem = document.getElementById('password')
      console.log(elem.attributes)
      elem.attributes.autofocus = true
      elem.click() */
    },
    beforeMount () {
      console.log('beforemount')
    },
    beforeUpdate () {
      console.log('beforeupdate')
    },
    updated () {
      console.log('updated')
      // this.$refs.psw.focus()
    }
  }
</script>
