<template>
  <v-container>
    <v-layout row v-if="error">
      <v-flex xs12>
        <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
      </v-flex>
    </v-layout>
    <v-layout row v-if="info">
      <v-flex xs12>
        <app-msg @closed="onClosed" :msg="info" ></app-msg>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12>
        <v-toolbar class="primary" dark>
          <v-toolbar-title>Please Sign up</v-toolbar-title>
        </v-toolbar>
        <v-card>
          <v-card-text>
            <v-container> <!-- create a grid -->
              <form @submit.prevent="onSignup">
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                        name="email"
                        label="Email"
                        id="email"
                        v-model="email"
                        type="email"
                        required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                        name="password"
                        label="Password"
                        id="password"
                        v-model="password"
                        type="password"
                        required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                        name="confirmPassword"
                        label="Confirm Password"
                        id="confirmPassword"
                        v-model="confirmPassword"
                        type="password"
                        :rules="[comparePasswords]">
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-btn type="submit" :disabled="loading" :loading="loading">
                      Sign up
                      <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                       </span>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        email: '',
        password: '',
        confirmPassword: ''
      }
    },
    computed: {
      ...mapGetters({
        error: 'error',
        info: 'info',
        user: 'getUser',
        loading: 'loading',
        isVerified: 'isVerified'
      }),
      comparePasswords () {
        return this.confirmPassword === '' || (this.password === this.confirmPassword) || 'Passwords do not match'
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          if (this.isVerified) {
            this.$router.push('/')
          } else {
            this.$router.push('/signin')
          }
        }
      }
    },
    methods: {
      ...mapActions({
        signup: 'user/signUserUp'
      }),
      onSignup () {
        // vuex
        console.log({email: this.email, password: this.password, confirmPassword: this.confirmPassword})
        this.signup({email: this.email, password: this.password})
      },
      onDismissed () {
        this.$store.dispatch('setError', '')
      },
      onClosed () {
        this.$store.dispatch('setInfo', '')
      }
    }
  }
</script>
