<template>
  <v-app id="inspire">
    <v-navigation-drawer
        permanent
        clipped
        class="grey lighten-4"
        app
    >
      <v-list
          dense
          class="grey lighten-4"
      >
        <template v-for="(item, i) in items">
          <v-layout
              row
              v-if="item.heading"
              align-center
              :key="i"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <v-btn small flat :disabled="!userIsValid"  @click="routeAction(item)">edit</v-btn>
            </v-flex>
          </v-layout>
          <v-divider
              dark
              v-else-if="item.divider"
              class="my-4"
              :key="i"
          ></v-divider>
          <v-list-tile
              :key="i"
              v-else
              :disabled="!userIsValid && item.text !== 'Exit'"
              @click="routeAction(item)"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app absolute clipped-left class="primary">
      <span class="title white--text">Client Information Manager</span>
    </v-toolbar>
    <main>
      <router-view></router-view>
    </main>
    <v-footer app class="primary white--text">My Footer</v-footer>
  </v-app>
</template>

<script>
  import { ipcRenderer } from 'electron'
  import { mapGetters } from 'vuex'

  export default {
    data: () => ({
      items: [
        {icon: 'person', text: 'Profile', link: '/profile'},
        {divider: true},
        {heading: 'Clients'},
        {icon: 'add', text: 'Add a new Client', link: '/clients'},
        {divider: true},
        {heading: 'Documents', link: '/documents'},
        {icon: 'add', text: 'Import new document', link: '/document/new'},
        {divider: true},
        {icon: 'contacts', text: 'Advisers', link: '/advisers'},
        {icon: 'account_balance', text: 'Asset Managers', link: '/assetmanagers'},
        {divider: true},
        {heading: 'Images', link: '/imagemanager'},
        // {icon: 'add', text: 'Images', link: '/imagemanager'},
        {divider: true},
        {heading: 'Application'},
        {icon: 'settings', text: 'Settings', link: '/settings'},
        {icon: 'power_settings_new', text: 'Exit', link: ''}
      ]
    }),
    props: {
      source: String
    },
    computed: {
      ...mapGetters({
        email: 'settings/getEmail',
        user: 'getUser',
        isSignedIn: 'isSignedIn',
        loaded: 'docs/loaded'
      }),
      userIsAuthenticated () {
        return this.user !== null && this.user !== undefined
      },
      userIsVerified () {
        return this.user !== null && this.user !== undefined && this.user.verified
      },
      userIsValid () {
        return this.userIsAuthenticated && this.userIsVerified && this.loaded
      }
    },
    methods: {
      closeApp () {
        this.$store.dispatch('signOut')
        this.$store.dispatch('docs/save')
        this.$store.dispatch('images/save')
        this.$electron.ipcRenderer.send('close')
      },
      routeAction (item) {
        console.log(`route action ${item}`)
        if (item.text === 'Exit') {
          console.log('exit')
          this.closeApp()
        } else {
          this.$router.push(item.link)
        }
      }
    },
    created () {
      console.log('========================================App - created - initState')
      this.$store.dispatch('initState')
      ipcRenderer.on('signout', (event, data) => {
        this.$store.dispatch('signOut')
      })
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>
